body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #474e5d;
  }
.cadre{
    width:320px; 
    min-height:85vh; 
    margin: 3% auto 0% 38%;
    border-radius: 1vh;
    border: 2px solid rgb(65, 66, 63);
    background-color:rgb(219, 210, 210);
}
.drag{
        
    width:52vh;  
    height:70vh; 
    
    border: 1px solid rgb(66, 63, 63);
    border-radius: 1vh;
    box-shadow: 3px 3px 3px 3px rgb(173, 169, 169);
}

.cadretete{
    width:52vh; 
    min-height:5vh;
    border-radius: 1vh;
    background-color:rgb(126, 27, 27);
}
.cadredrag{
    width:52vh;  
    min-height:70vh;
    background-color:rgb(211, 198, 198);
}
.navigation{
    width:52vh;
    height: 10vh;
    border-radius: 1vh;
    background-color:white;
}
img{
    width:8vh;
    height:8vh;
}
.imagedrag{
    width:52vh; 
    height:70vh;
    border-radius: 1vh;
}
.aglobe{
    position:relative;
    float: left;
    padding-top:1vh;
    margin-left: 4vh;
}
.amache{
    position:relative;
    float: left;
    padding-top:1vh;
    margin-left: 10vh;
}
.aprofil{
    position:relative;
    float: right;
    padding-top:1vh;
    margin-right: 4vh;
}
.descprofil{
    width:50vh;
    height: 15vh;
    position:absolute; top:58vh; left:1vh;
    
}
.textstyle{
    color:white;
    font-size: 2.5vh;
    text-align: center;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
/* User profil */
.userimagecontener{
    width:27vh;
    height: 27vh;
    position:relative;
    float: left;
    margin-top:3vh;
    margin-left: 25%;
}
.imguser{
    overflow: hidden;
    -webkit-border-radius: 25vh;
    -moz-border-radius: 25vh;
    border-radius: 25vh;
    width: 25vh;
    height: 25vh;
    margin:0vh;
    padding: 0vh;
}
.descprofiluser{
    width:38vh;
    height: 15vh;
    position:relative;
    float: left;
    margin-top:3vh;
    margin-left: 7vh; 
}
.textstyleuser{
    color:white;
    font-size: 2.5vh;
    text-align: center;
    text-shadow: #000000 1px 1px, #000000 -1px 1px, #000000 -1px -1px, #000000 1px -1px;
}
.disculikes{
    width:38vh;
    height: 17vh;
    position:relative;
    float: left;
    margin-top:3vh;
    margin-left: 8vh; 
}
.mylikes{
    color: white;
    font-size: 2.5vh;
    text-decoration: none;
    padding:1vh 11.9vh 1vh 11.9vh;
    cursor: pointer;
    position: relative;
    width:38vh;
    opacity: 0.9;
    border: 0.6vh outset #c0c0c0;
    background-color: #4CAF50;
}
.mydiscus{
    color: white;
    font-size: 2.5vh;
    text-decoration: none;
    padding:1vh 8.1vh 1vh 8.1vh;
    cursor: pointer;
    position: relative;
    opacity: 0.9;
    border: 0.6vh outset #c0c0c0;
    background-color: #4CAF50;
}
.mydiscuslikesdiv{
    width: 35vh;
    height: 5vh;
    margin-top: 1vh;
}
