.cadre{
    width: 265px; 
    height: 500px; 
    margin: 50px 0px 0px 60px;
    padding: 10px 0px 0px 10px; 
    border-radius: 10px;
    border: 2px solid rgb(66, 63, 63);
    background-color:white;
}
.drag{
        
    width: 250px;
    height: 400px;
    background-color: #DDD;
    border: 1px solid rgb(66, 63, 63);
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgb(173, 169, 169);
}
.barre{
    width: 15px;
    height: 30px;
    float: top;
    background-color: #00D;
    color: #FFF;      
}
.orig{
transform-origin:300px 200px;
}
.cadretete{
    width: 235px;
    height: 30px;
    padding: 10px 0px 0px 20px;
    background-color:rgb(126, 27, 27);
}
.cadredrag{
    width: 250px;
    height: 400px;
    
    background-color:white;
}
.navigation{
    width: 235px;
    height: 60px;
    padding: 10px 0px 0px 20px;
    background-color:white;
}
img{
    width:50px;
    height:50px;
}
a{
    padding-right: 25px;
}
.descprofil{
    width: 80px;
    height: 50px;
    position:absolute; top:250px; left:50px;
    
}
